NETWORK_HOSTNAME = osg-prp-submit.nautilus.optiputer.net
PRIVATE_NETWORK_INTERFACE = $ENV(MY_POD_IP)
TCP_FORWARDING_HOST = osg-prp-submit.nautilus.optiputer.net
SHARED_PORT_PORT = 31618
ProjectName = "PRP_Defanti"
SUBMIT_EXPRS = $(SUBMIT_EXPRS) ProjectName
#SCHEDD_DEBUG = D_FULLDEBUG,D_SECURITY
ALLOW_WRITE = $(ALLOW_WRITE) submituser@*/*
ALLOW_NEGOTIATOR = $(ALLOW_NEGOTIATOR) negotiator@flock.opensciencegrid.org
